
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>to do list</title>

  </head>
  <body>
  <h1><%=kindOfDay%></h1>
<ul>
  <!-- <li>get exsersize</li>
  <li>eat well</li>
  <li>practice well</li> -->
  <% for( var i=0; i<newListItems.length; i++){ %>
  <li><%= newListItems[i] %></li>
  <% } %>
</ul>

 <form class="" action="/" method="post">
   <input type="text" name="newItem" >
   <button type="submit" name="button">add</button>
 </form>

  </body>
</html>
